<div class="container">
  <div class="container">
		<div id="columns">
			<div class="pin">
				<img src="http://placehold.it/350x250" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x150" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x250" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x150" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x250" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x150" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x250" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>
			<div class="pin">
				<img src="http://placehold.it/350x150" alt="Placeholder" />
				<h3>Lorem ipsum dolor</h3>
				<p><b>Topic</b>: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed feugiat consectetur pellentesque. Nam ac elit risus, ac blandit dui. Duis rutrum porta tortor ut convallis. Duis rutrum porta tortor ut convallis.</p>
			</div>			
		</div>
    </div> 
</div> 
